body{
    background-color: rgb(217, 82, 44);
}

header{ 
    background-color: rgb(21, 235, 24);
}

ul {
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}